/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
# /storage
/vendor
bun.lock
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
package-lock.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
